@charset "utf-8";

*{
    margin: 0; padding: 0;
}

#container{
    width: 1000px;
    margin: 0 auto;
}
nav{
    height: 80px;
    background-color: pink;
}
ul{
    padding-left: 320px;
}
ul li{
    line-height: 80px;
    list-style: none;
    float: left;
}

ul li a{
    /* display: block; */
    padding: 0 30px;
    text-decoration: none;
    color: black;
}
ul li a:hover{
    background-color: white;
    color: orange
}
section{
    margin: 20px;
}