@charset "utf-8";

*{
    margin: 0; padding: 0;
}

#container{
    width: 1000px;
    margin: 0 auto;
}
nav{
    height: 80px;
    background-color: violet;
    text-align: center;
}
ul li{
    display: inline-block;
    line-height: 80px;
    list-style: none;
    padding: 0 20px;
}

ul li a{
    text-decoration: none;
    color: #fff;
}
ul li a:hover{
    color: yellow
}
section{
    margin: 20px;
}